
 .square{
  padding: 1rem;
  width: 3rem;
  height: 3rem;
}

.status{
  margin-top: 1rem;
  color: white;
}



.App-logo {
  pointer-events: none;
}

.name{
  color: #61dafb;
  font-weight: bold;

}

html{
  width: 100%;
  height: 100vh;
  background-color: #2d2d30;
}

.gb{
  margin: 0 auto;
  text-align: center ;
 
  margin-top: 8rem;
}

.header-block1{
  display: flex;
  align-items: center;
  gap: 0px;
}

.header-block2 nav ul{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.header-block2 nav ul li{
  list-style: none;
  padding: 0.5rem;
 cursor: pointer;
 font-size: 1.2rem;

}

.header-block2 nav ul li:hover{
 color: #61dafb;
}

.header-block2 nav ul li:active{
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
 }
.header-top0-part2{
  color: #61dafb;
}
 .header-top0{
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
 }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  /* background-color: #232427; */
  background-color: #030303;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: calc(5px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
